/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.navbar{
    display: flex;
    margin: 10px;
    padding: 10px;
}

.menu {
    display: flex;
    list-style: none;
    padding: 10px;
}

.menu li {
    margin: 10px;
}
.menu a{
    text-decoration: none;
}



.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}


.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card img{
    height: 275px;
    max-width: 100%;
    vertical-align: middle;
  }

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 25%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  height: 200px;
  overflow: auto;
  padding: 1rem;
  background: linear-gradient(to bottom left, #489fa2 40%, #a15203 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.row {
    display: grid;
    grid-template-columns: 60% 40%;
  }
.column {
    padding: 16px;
    height: 250px;
  }
  .related-comics-div{
    text-align: center;
  }
  .related-comics{
    height: 250px;
  }
  .likeButton:hover{
    background-color: rgb(169, 228, 236)
  }
  .like:hover{
    transform: scale(1.7)
  }

  /** search zone and suggestion **/
  .search {
    width: 100%;   
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #aab5b6;
    border-right: none;
    padding: 5px;
    height: 27px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #202523;
  }
  
  .searchTerm:focus{
    color: #0f1010;
  }
  
  .searchButton {
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 50%;  
    margin: 2% 25%;  
    transform: translate(-50%, -50%);
  } 
